body {
  overflow: hidden;
}

*,
*:focus {
  outline: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex-item:nth-child(2) {
  flex-grow: 1;
}

.navigator {
  min-width: 220px;
  background-color: rgb(251, 251, 250);
}
.navigator .scroller {
  box-shadow: transparent 0px 0px 0px inset;
  transition: box-shadow 300ms ease 0s;
  max-height: calc(100% - 6rem);
  overflow: hidden auto;
}

.navigator-header {
  padding: 1rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.document:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.document-add {
  padding: 0.45rem 0.3rem;
}
.document-add-text {
  color: rgba(55, 53, 47, 0.65);
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-left: 0.6rem;
}
.document-item {
  color: rgba(25, 23, 17, 0.6);
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0 0.2rem;
  padding: 0.2rem 0.15rem;
  border-radius: 0.2rem;
  position: relative;
}
.document-item .visible-when-hover {
  display: none;
  position: absolute;
  right: 0.3rem;
}
.document-item:hover .visible-when-hover {
  display: flex;
  flex-direction: row;
}

.icon-wrapper {
  padding: 0.15rem;
  border-radius: 0.2rem;
}
.icon-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.home-page {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  padding: 10% 0 0 0;
  width: calc(100% - 220px);
  max-width: calc(100% - 220px);
  overflow: hidden auto;
  position: relative;
}
.editor-header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 2rem;
  padding: 1rem;
  width: calc(100% - 6rem - 220px);
  background-color: white;
}
.editor-title {
  padding: 0 15%;
  width: 70%;
  max-width: 100%;
  font-size: 3rem;
  font-weight: bold;
  caret-color: rgb(55, 53, 47);
  margin: 1rem 0.1rem;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
}
.editor-content {
  padding: 0 15% 30vh 15%;
  font-size: 1rem;
  width: 70%;
  max-width: 100%;
  caret-color: rgb(55, 53, 47);
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: rgb(182, 182, 182);
  background-color: transparent;
  cursor: text;
}

.h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.strong {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
