.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex-item {
  &:nth-child(2) {
    flex-grow: 1;
  }
}

.navigator {
  min-width: 220px;
  background-color: rgb(251, 251, 250);
}

.hover {
  background-color: rgba(0, 0, 0, 0.04);
}
