body {
  margin: 0;

  li {
    list-style-type: none;
  }

  ul {
    padding-left: 10px;
  }
}

#app {
  display: flex;
}

/* 사이드 바 */

.posts-page {
  width: 15rem;
  height: 100vh;
  margin-right: 50px;
  padding: 10px;

  font-size: 15px;
  background-color: #f7f6f3;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: #ebebea;

    .button-group > button {
      opacity: 1;
    }
  }
}

.button-group {
  width: 50px;

  & > button {
    width: 20px;
    height: 20px;
    align-items: center;

    background-color: #ebebea;
    border: none;
    border-radius: 5px;

    font-size: 10px;
    color: #676662;
    line-height: 10px;
    opacity: 0;

    &:hover {
      background-color: #dddddc;
      cursor: pointer;
    }
  }
}

.toggle-button {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #dddddc;
  }
}

.page-create {
  width: 100%;
  padding: 10px;

  text-align: left;
  background: none;
  border: none;
  border-top: 1px solid #dddddc;
  border-radius: 5px;

  font-size: 16px;
  color: #767571;

  cursor: pointer;

  &:hover {
    border-top-color: #ebebea;
    background-color: #ebebea;
  }
}

/* 에디터 */

.editor {
  display: flex;
  flex-direction: column;

  margin: 50px 10px 10px 10px;

  * {
    margin-bottom: 10px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    outline: none;
    background-color: none;

    &:hover {
      background-color: #f5f5f5;
      transition: background-color 0.5s ease-in-out;
    }

    &:active {
      background-color: #f5f5f5;
    }
  }

  .title {
    font-size: 30px;
    font-weight: bold;
  }

  .content {
    font-size: 15px;
  }
}
