@import "./color.scss";

body {
  margin: 0;

  li {
    list-style-type: none;
  }

  ul {
    padding-left: 0px;
  }
}

#app {
  display: flex;
  height: 100vh;
}

/* 사이드 바 */
.posts-page {
  position: relative;

  min-width: 14rem;
  width: 14rem;
  margin-right: 150px;

  font-size: 15px;
  background-color: $BROWN_10;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0px 10px 5px;

  & > img {
    width: 20px;
    padding: 10px;
    border-radius: 13px;
  }

  .notion-title {
    margin: 0px;
    color: $BROWN_80;
    cursor: pointer;
  }

  p:last-child {
    margin: 0px;
    font-size: 5px;
    color: $BROWN_60;
    user-select: none;
  }
}

.post-list {
  height: 84vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $BROWN_40;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $BROWN_20;
  }
}

.post-hide {
  display: none;
}

.sub-post {
  padding-left: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  border-radius: 5px;
  color: $BROWN_60;
  cursor: pointer;

  &:hover {
    background-color: $BROWN_20;

    .button-group > button {
      opacity: 1;
    }
  }

  &:active {
    background-color: $BROWN_30;

    .button-group > button {
      background-color: $BROWN_30;
    }
  }

  & > div {
    display: flex;
    align-items: center;
  }

  & > div > span:first-child {
    display: inline-block;
    width: fit-content;
    margin-left: 5px;

    border-radius: 5px;

    &:hover {
      background-color: $BROWN_30;
    }
  }

  .post-title {
    display: inline-block;
    width: 170px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    .post-title {
      width: 130px;
    }
  }
}

.no-sub-page {
  padding-left: 39px;
  user-select: none;
  color: $BROWN_50;
  cursor: default;
}

.active-post {
  background-color: $BROWN_20;
  color: $BROWN_90;
  font-weight: bold;
}

.button-group {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  width: 50px;

  & > button {
    width: 20px;
    height: 20px;
    align-items: center;

    background-color: $BROWN_20;
    border: none;
    border-radius: 5px;

    font-size: 10px;
    color: $BROWN_70;
    line-height: 10px;
    opacity: 0;

    &:hover {
      background-color: $BROWN_30;
      cursor: pointer;
    }
  }
}

.toggle-button {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: $BROWN_60;
  cursor: pointer;
}

.open-toggle {
  transition: transform 0.3s ease-in-out;
  transform: rotateZ(90deg);
}

.close-toggle {
  transition: transform 0.3s ease-in-out;
  transform: rotateZ(0deg);
}

.page-create {
  position: absolute;
  bottom: 0px;

  width: 100%;
  padding: 15px;

  text-align: left;
  background: none;
  border: none;
  border-top: 1px solid $BROWN_30;

  font-size: 16px;
  color: $BROWN_60;

  cursor: pointer;

  &:hover {
    border-top-color: $BROWN_20;
    background-color: $BROWN_20;
  }
}

/* 에디터 */
.editor {
  display: flex;
  flex-direction: column;

  margin: 50px 10px 10px 10px;

  * {
    margin-bottom: 10px;
    padding: 10px;

    border: none;
    border-radius: 8px;
    outline: none;
    background-color: none;
  }

  .title {
    width: 600px;

    font-size: 30px;
    font-weight: bold;
  }

  .content {
    width: 800px;
    height: 400px;

    overflow-y: auto;
    font-size: 15px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $BROWN_40;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $BROWN_20;
    }
  }
}

.sub-post-list {
  padding: 5px;
  border-radius: 5px;
  background-color: $BROWN_10;
  color: $BROWN_80;

  & > p {
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    user-select: none;
  }
}
