:root {
	/* color */
	--sidebar-background-color: rgb(251, 251, 250);
	--document-item-hover-background-color: rgba(0, 0, 0, 0.04);
	--document-item-img-hover-background-color: rgba(55, 53, 47, 0.08);

	/* padding */
	--padding-small: 0.75rem;
	--padding-normal: 1rem;

	/* margin */
	--margin-small: 0.75rem;
	--margin-normal: 1rem;

	/* border-radius */
	--border-radius-small: 4px;

	/* todo: width, height 정의 */
}

* {
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;

	display: flex;
}

.svg {
	width: 14px;
}

ul {
	padding-inline-start: var(--padding-small);
	margin: 0px;
}

/* Header */
header {
	padding: var(--padding-normal);
}

/* Sidebar */
nav {
	width: 300px;
	height: 100%;
	background-color: var(--sidebar-background-color);
	/* padding: var(--padding-normal); */
}

.document-list__root {
	display: flex;
	flex-direction: column;

	padding-left: var(--padding-normal);
}

.document-list {
	display: flex;
	flex-direction: column;
}

.document-item-container {
	cursor: pointer;

	display: flex;
	flex-direction: column;
}

.document-item {
	height: 30px;
	display: flex;
	align-items: center;
}

.document-item > img {
	width: 1rem;
}

.document-item:hover {
	background-color: var(--document-item-hover-background-color);
}

img {
	border-radius: var(--border-radius-small);
	height: 75%;
}

img:hover {
	background-color: var(--document-item-img-hover-background-color);
}

.root-document-add-button {
	border-radius: var(--border-radius-small);
	margin: var(--margin-normal) 0;
	background-color: var(--document-item-img-hover-background-color);
	cursor: pointer;

	display: flex;
	align-items: center;
}

.root-document-add-button > img {
	margin-left: var(--margin-normal);

	width: 1rem;
	height: 1rem;
}

.root-document-add-button > p {
	padding-left: var(--padding-small);
}

.root-document-add-button:hover {
	opacity: 0.75;
}

/* Post */
article {
	width: 90%;
	height: 100%;
	/* padding: var(--padding-normal); */
}

.editor {
	padding: var(--padding-normal);
}
