body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.editor {
  display: flex;
  flex-direction: column;
}

.not-found {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  width: 400px;
}

.not-found-message {
  font-size: 1.75rem;
  color: gray;
}

.empty-content-container {
  color: gray;
}

.empty-content-container > h2 {
  font-size: 3rem;
}

.empty-content-container > p {
  font-size: 1.5rem;
}

.hide {
  display: none;
}
