body {
  padding: 0 0;
  margin: 0 0;
}

.hidden {
  display: none;
}

li {
  margin-top: 30px;
  font-weight: bold;
}

.item {
  list-style: none;
  cursor: pointer;
}

.item span:hover {
  opacity: 50%;
}

#app {
  display: flex;
}

.docs-container {
  min-width: 15%;
  height: 100vh;
  background-color: lightgray;
}

.editor-container div {
  height: 100vh;
  margin-left: 100px;
}
.button-group {
  display: inline-block;
}

[name="title"],
[name="content"] {
  display: block;
  width: 800px;
  border-width: 0px;
}

[name="title"] {
  height: 5%;
  font-size: 1.5rem;
}

[name="content"] {
  height: 90%;
  font-size: 1.3rem;
}

[name="title"]:focus,
[name="content"]:focus {
  outline: none;
}

[name="title"]:hover,
[name="content"]:hover {
  border: 0.5px gray dotted;
}
