* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

ul {
  padding-left: 20px;
}

li { 
  list-style: none;
}

.hidden {
  visibility: hidden;
}

.focus {
  background-color: rgb(217, 217, 217);
}

.center-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100vw;
  height: 100%;
  display: flex;
}

#sidebar {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2px 14px;
  background-color: rgb(251, 251, 250);
  border-right: 1px solid #eee;
}

#sidebar-header {
  width: 100%;
  min-height: 35px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0px;
}

#sidebar-header:hover {
  border-radius: 4px;
  background-color: rgb(240, 239, 239);
}

#sidebar-header .profile {
  width: 22px;
  margin: 0px 8px;
}

#sidebar-header span {
  padding-top: 6px;
  margin-right: 20px;
}

#sidebar-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  overflow-y: scroll;
}

#sidebar-section .section-title {
  margin-bottom: 10px;
  color: rgba(55, 53, 47, 0.5);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#document-root summary {
  display: flex;
  align-items: center;
}

#document-item {
  width: 100%;
  min-height: 27px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px 2px 5px;
  margin: 1px 0px;
  cursor: pointer;
  overflow: hidden;
}

#document-item:hover {
  border-radius: 4px;
  background-color: rgb(240, 239, 239);
}

#document-item.focus {
  border-radius: 4px;
  background-color: rgb(240, 239, 239);
}

#document-item.focus .title {
  color: rgb(55, 53, 47);
  font-weight: 600;
}

#document-details .point {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 8px;
  color: rgba(55, 53, 47, 0.65);
}

#document-item .page {
  width: 18px;
  height: 18px;
  display: block;
  fill: rgba(55, 53, 47, 0.45);
  flex-shrink: 0;
  backface-visibility: hidden;
}

#document-item .title {
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
}

#document-item .trash {
  width: 20px;
  height: 20px;
  display: block; 
  fill: rgba(55, 53, 47, 0.65);
  padding: 1px 3px;
  border-radius: 4px;
  flex-shrink: 0;
  backface-visibility: hidden;
}

#document-item .add-btn {
  padding: 1px 4px;
  border-radius: 4px;
}

#document-details .arrow {
  height: 20px;
  display: block;
  padding: 1px 3px;
  margin-right: 5px;
  border-radius: 4px;
  fill: rgba(55, 53, 47, 0.35);
  transition: transform 200ms ease-out 0s;
  transform: rotateZ(-90deg);
}

#document-details span {
  padding-left: 8px;
  color: rgba(25, 23, 17, 0.6);
  font-size: 14px;
  font-weight: 500;
}

details[open] > summary #document-item .arrow {
  transform: rotateZ(0deg);
}

/* details[open] > summary #document-item span {
  color: rgb(55, 53, 47);
  font-weight: 600;
} */

#sidebar-footer {
  height: 40px;
  margin: 4px 0px;
}

#sidebar-footer .new-post-btn {
  line-height: 40px;
  padding-left: 10px;
  color: rgba(25, 23, 17, 0.6);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#sidebar-footer .new-post-btn:hover {
  color: rgb(55, 53, 47);
  border-radius: 4px;
  background-color: rgb(240, 239, 239);
}

#document-container {
  min-width: 0px;
  height: 100vh;
  flex: auto;
  background-color: white;
}

#document {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#document-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

#document-header .title {
  max-width: 100%;
  min-width: 0px;
  width: 800px;
  line-height: 1.2;
  font-size: 40px;
  font-weight: 800;
  padding-left: 90px;
}

#document-body {
  width: 100%;
  min-height: 0vh;
  display: flex;
  flex: auto;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30vh;
}

#document-editor {
  max-width: 100%;
  min-width: 0px;
  width: 800px;
  line-height: 1.5;
  padding-left: 90px;
  font-size: 16px;
}

[contenteditable=true] {
  cursor: text;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: rgb(55, 53, 47, 0.5);
  display: block;
}

#home-btn {
  padding: 8px 12px;
  margin: 30px 0px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(231, 231, 231);
  border-radius: 4px;
  cursor: pointer;
}

#home-btn:hover {
  background-color: rgb(216, 216, 216);
}