.layout-main {
  display: flex;
  width: 100%;
  height: 100%;
  color: #37352f;
  background: #ffffff;
}

.layout-sidebar {
  width: 20%;
  max-width: 280px;
  min-width: 200px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #37352f;
  background: #fbfbfa;
  overflow: auto;
  float: left;
}

.layout-content {
  width: 80%;
  height: 100%;
  float: left;
}

.editor-title {
  width: 100%;
  height: 5%;
  max-height: 60px;
}

.editor-content {
  width: 100%;
  height: 95%;
}
