.main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.document-editor {
  background-color: antiquewhite;
  width: 100vw;
}

.document-tree {
  background-color: rgb(227, 250, 215);
  width: 30vw;
  max-width: 300px;
}

.tree-node {
  padding-left: 12px;
  border-left: 1px solid lightgray;
}

.node-item {
  list-style: none;
  margin-top: 6px;
  cursor: pointer;
}

.tree-node-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.tree-subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.add-root-button {
  all: unset;
  cursor: pointer;
}

.node-title {
  display: flex;
}

.node-title span {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.node-button-group {
  display: flex;
}

.add-button,
.delete-button {
  all: unset;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
}

.add-button:hover,
.delete-button:hover {
  background-color: lightgray;
}

.add-button span,
.delete-button span {
  font-size: small;
  color: black;
}

.eidtor-wrapper {
  display: flex;
  width: 100vw;
}

.editor-text {
  width: 50vw;
  height: 80vh;
  font-size: 20px;
  padding: 16px;
}

.document-editor {
  display: flex;
  flex-direction: column;
}

.editor-document-title {
  height: 50px;
  font-size: x-large;
  font-weight: bold;
  padding-left: 10px;
  border: none;
}

.child-documents-wrapper {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
}
