@import "./reset.css";
@import "./libs/vars.scss";
@import "./libs/mixins.scss";

@import "./modal.scss";
@import "./postList.scss";

.global-container {
	display: flex;
	height: 100vh;
	font-family: "Noto Sans KR", Sans-serif;

	.post-list-container,
	.post-edit-container {
		display: inline-block;
	}

	.post-edit-container {
		display: flex;
		width: 100%;
		max-width: 900px;
		min-width: 400px;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		padding: 0 4rem;
		background-color: $color-post-edit-background;

		.home {
			h1 {
				font-size: 3rem;
				font-weight: bold;
				color: $color-home-font;
			}
		}

		.editor {
			width: 100%;
			max-height: 850px;
			overflow-y: scroll;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding-right: 3rem;

			.title-input-container {
				padding-top: 5rem;
				@include input-title;
			}

			.post-date-container {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				text-align: end;

				span {
					color: $color-home-font;
				}
			}

			.content-input-container {
				@include input-content;
			}
		}
	}

	.not-found {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1 {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		@include base-button;

		button {
			font-size: 1rem;
		}
	}
}
