/* reset */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; }

a {
  color: inherit;
  text-decoration: inherit; }

li {
  list-style: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

address, em, i, cite {
  font-style: normal; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
  color: inherit;
  font: inherit;
  background: transparent;
  -webkit-appearance: none;
  cursor: pointer; }

i[class^="xi"] {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

i[class^="xi"] span {
  position: absolute;
  left: -9999px; }

.ir-hidden {
  position: absolute;
  left: -9999px; }

:root {
  --background-color: rgb(255, 255, 238);
  --text-primary: rgb(25, 25, 23);
  --text-secondary: rgb(76, 76, 71);
  --text-rgb: 25, 25, 23;
  --font-family: 'NotoSansKR', 'sans-serif';
  --color-primary: rgb(220, 200, 156);
  --color-secondary: rgb(255, 250, 225);
  --color-primary-rgb: 220, 200, 156;
  --color-secondary-rgb: 255, 250, 225; }

html[data-scheme='light'] {
  --background-color: rgb(255, 255, 238);
  --text-primary: rgb(25, 25, 23);
  --text-secondary: rgb(76, 76, 71); }

html[data-scheme='dark'] {
  --background-color: rgb(51, 51, 47);
  --text-primary: rgb(255, 255, 238);
  --text-rgb: 255, 255, 238;
  --text-secondary: rgb(229, 229, 214);
  --color-primary: rgb(127, 127, 119);
  --color-secondary: rgb(51, 51, 47);
  --color-primary-rgb: 127, 127, 119;
  --color-secondary-rgb: 51, 51, 47; }

body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-family);
  font-size: 14px;
  position: relative;
  overscroll-behavior-y: none;
  min-width: 730px; }

body::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(../images/vecteezy_icon-background-ice-cream-flat-design-vector_.jpg) repeat;
  background-size: 30%; }

#app {
  display: flex;
  height: 100vh;
  position: relative; }

.toggle-container {
  position: relative;
  width: 100%;
  margin-bottom: 40px; }
  .toggle-container label {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 24px;
    border: 1px solid var(--text-secondary);
    border-radius: 24px;
    background-color: var(--color-primary); }
    .toggle-container label input {
      position: absolute;
      display: none; }
      .toggle-container label input:checked + .toggle {
        left: calc(100% - 21px); }
        .toggle-container label input:checked + .toggle i:first-child {
          display: inline-block; }
        .toggle-container label input:checked + .toggle i:last-child {
          display: none; }
    .toggle-container label .toggle {
      position: absolute;
      cursor: pointer;
      height: 18px;
      width: 18px;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      transition: 0.3s;
      background-color: var(--color-secondary); }
      .toggle-container label .toggle i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--text-secondary); }
      .toggle-container label .toggle i:first-child {
        display: none; }
      .toggle-container label .toggle i:last-child {
        display: inline-block; }

.doc-list-page {
  background-color: var(--background-color);
  width: 50px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  transition: 0.3s; }
  .doc-list-page.on {
    width: 300px;
    padding: 20px; }

.doc-list-header {
  position: relative;
  margin-bottom: 40px; }
  .doc-list-header h1 {
    color: var(--text-primary); }
  .doc-list-header p {
    color: var(--text-secondary); }
  .doc-list-header .menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: var(--text-secondary); }

.doc-list {
  position: relative;
  overflow: hidden;
  height: calc(100% - 150px);
  width: calc(100% + 20px); }
  .doc-list ul.root {
    overflow: auto;
    height: 100%;
    width: 100%; }
  .doc-list li.list-item {
    display: block;
    position: relative;
    line-height: 30px; }
    .doc-list li.list-item .container {
      display: block;
      position: relative;
      height: 30px;
      border-radius: 5px 0 0 5px; }
      .doc-list li.list-item .container .title {
        display: inline-block;
        width: 100%;
        max-width: 160px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .doc-list li.list-item .container .title i {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 3px;
          width: 18px;
          height: 18px;
          border-radius: 3px;
          transition: 0.3s; }
          .doc-list li.list-item .container .title i:hover {
            background-color: rgba(var(--color-secondary-rgb), 0.7); }
          .doc-list li.list-item .container .title i.on {
            transform: rotate(90deg);
            transform-origin: center; }
      .doc-list li.list-item .container .btn-container {
        position: absolute;
        right: 5px;
        display: none; }
        .doc-list li.list-item .container .btn-container button {
          width: 18px;
          height: 18px;
          vertical-align: middle;
          border-radius: 3px;
          position: relative; }
          .doc-list li.list-item .container .btn-container button i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
          .doc-list li.list-item .container .btn-container button:hover {
            background-color: rgba(var(--color-secondary-rgb), 0.7); }
  .doc-list li.list-item > .container:hover {
    background-color: rgba(var(--color-primary-rgb), 0.6); }
    .doc-list li.list-item > .container:hover .btn-container {
      display: inline-block; }
  .doc-list li.list-item.on > .container {
    background-color: var(--color-primary); }
  .doc-list ul.parent {
    padding-left: 15px;
    height: 0;
    overflow: hidden;
    transition: 0.3s; }
    .doc-list ul.parent.on {
      height: max-content; }

.doc-list-footer {
  padding-top: 20px;
  color: var(--text-secondary); }
  .doc-list-footer .add-root {
    height: 30px;
    width: 100%;
    border-radius: 3px; }
    .doc-list-footer .add-root i {
      margin-right: 5px; }
    .doc-list-footer .add-root:hover {
      background-color: rgba(var(--color-primary-rgb), 0.4); }

.doc-edit-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box; }

.editor {
  display: flex;
  flex-direction: column; }
  .editor .title, .editor .content {
    background-color: var(--background-color);
    color: var(--text-primary);
    border: 1px solid var(--text-secondary);
    opacity: 1; }
  .editor .title:disabled, .editor .content:disabled {
    opacity: 0.3; }
  .editor .title {
    height: 34px;
    text-indent: 5px;
    font-size: 1.5em; }
    .editor .title::placeholder {
      opacity: 0.5; }
  .editor .content {
    font-family: var(--font-family);
    padding: 5px;
    margin-top: 10px;
    height: 50vh;
    resize: vertical; }

.footer {
  position: relative;
  display: flex;
  bottom: 0;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: rgba(var(--text-rgb), 0.5); }

/*# sourceMappingURL=style.css.map */
