.app {
  display: flex;
  height: 100vh;
}

.content {
  width: 100%;
  height: 70%;
  border: none;
  outline: none;
  overflow: auto;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  /*-ms-overflow-style: none;*/
}

.content ::-webkit-scrollbar {
  display: none;
  height: 100em;
}

.editor {
  width: 60%;
}

.title {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  font-size: 38px;
}

.add {
  width: 25px;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  margin-left: 30px;
  cursor: pointer;
}

button:hover {
  border: solid 1px #aca99e;
  border-radius: 5px;
  color: black;
}

.editor-content {
  height: 100vh;
}
