.header {
  margin-bottom: 30px;
}

.document-list {
  padding-left: 10px;
}

.list-style-type {
  list-style-type: none;
}

.sidebar {
  width: 20%;
  font-size: 15px;
  line-height: 1rem;
  background-color: rgb(245, 244, 241);
  padding: 1em;
}

.row-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  min-height: 27px;
  color: #cccbc7;
  cursor: pointer;
  padding-left: 10px;
}

.row-item:hover {
  background: rgba(55, 53, 47, 0.08);
  color: black;
}

.item-text {
  display: flex;
  width: 75%;
  align-items: center;
}

.item-button {
  display: flex;
  flex-direction: row-reverse;
  /*align-items: center;*/
  width: inherit;
  /*padding-left: 20px;*/
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  margin-left: 30px;
  cursor: pointer;
}

button:hover {
  border: solid 1px #aca99e;
  border-radius: 5px;
  color: black;
}

.delete-btn {
  font-size: 18px;
}

.add-btn {
  font-size: 18px;
}
