html,
body {
  box-sizing: border-box;
  margin: 0;
}

#app {
  display: flex;
  height: 100vh;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  font-size: 1rem;
  background: none;
  user-select: none;
}

ul {
  padding: 0 15;
  margin: 5 0;
}

/*
    sidebar 배경색: rgb(250, 250, 249)
    sidebar hover 색: rgb(230, 230, 230)
    sidebar 눌러진 페이지: rgb(238, 238, 238)
*/

/* sidebar */
.sidebar {
  position: relative;
  width: 240px;
  margin: 0;
  overflow: hidden;
  background-color: rgb(250, 250, 249);
}

.sidebar-header {
  position: flex;
  padding: 0 15;
}

.sidebar-body {
  overflow-y: scroll;
  height: 80vh;
  padding: 0 15;
  margin-top: -0.5rem;
}

.document-li {
  width: 100%;
  padding: 5 10;
}

.document-li:hover {
  background-color: rgb(230, 230, 230);
}

.add-btn {
  margin-left: 6rem;
  margin-right: 1rem;
}

.delete-btn {
  position: relative;
  font-size: 0.9rem;
  top: -1.5;
}

.sidebar-footer {
  position: fixed;
  width: 240px;
  cursor: pointer;
  bottom: 0;
  padding: 1.5rem 0;
  border-top: 1px solid rgb(228, 228, 225);
  background: rgb(250, 250, 249);
}

.sidebar-footer div {
  padding: 0 15;
}

.sidebar-footer:hover {
  background-color: rgb(230, 230, 230);
}
