:root {
  --white100: #fff; /* var(--white100)    */
  --dark100: #333333; /* var(--dark100)   */
  --sideBar1: #FBFBFA; /* var(--sideBar1) */
  --sideBar2: #F5F5F4; /* var(--sideBar2) */
  --sideBarHover: #EBEBEA; /* var(--sideBarHover) */
  --sideBarColor: #A3A29E; /* var(--sideBarColor) */
}
body{
  margin:0
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:0;
  background-color: var(--white100);
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*sideBar*/
.sideBar {
  width: 275px;
  height: 100%;
  background-color: var(--sideBar1) ;
  border-right: var(--sideBar2) 1px solid;
  overflow: hidden;
}
.sideBar header {
  padding: 2px 14px;
  margin-top:10px
}
.sideBar ul {
  list-style:none;
  padding-left:10px;
}
.sideBar > ul {
  padding-left:0px;
}
.sideBar li{
  height: 27px;
  cursor: pointer;
  white-space: nowrap;
  padding: 2px 10px 2px 10px;
}
.sideBar li:hover{
  background-color: var(--sideBarHover);
}
.sideBar li:hover:after{
  content: '';
  background-size: 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  float: right;
  position: relative;
  top: 8px;
  background-image: url("./assets/img/plus.png");
}
.sideBar li:before{
  content: '';
  background-size: 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: -2px;
}
.sideBar .fold:before{
  background-image: url("./assets/img/right-arrow.png");
}
.sideBar .unfold:before{
  background-image: url("./assets/img/right-arrow.png");
  transform: rotate(90deg);
}
.sideBar .title {
  width: 100%;
  color: var(--sideBarColor)
}

/*postPage*/
.postPage {
  width: calc(100% - 275px);
}
.postPage header{
  height: 45px;
  padding:0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postPage .editor{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.postPage .editor > h1{
  padding-top: 100px;
  font-size: 40px
}
.postPage .header_action_btns > button{

}