:root {
  --white100: #fff; /* var(--white100)    */
  --dark100: #333333; /* var(--dark100)   */
  --sideBar1: #FBFBFA; /* var(--sideBar1) */
  --sideBar2: #F5F5F4; /* var(--sideBar2) */
  --sideBarHover: #EBEBEA; /* var(--sideBarHover) */
  --sideBarColor: #A3A29E; /* var(--sideBarColor) */
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Pretendard-Regular";
  letter-spacing: 1px;
}
body{
  margin:0
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:0;
  background-color: var(--white100);
  cursor: pointer;
}
input,[contentEditable] {
  border: 0
}
input:focus,[contentEditable]:focus {
  outline: none;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/*sideBar*/
.sideBar {
  width: 275px;
  height: 100%;
  background-color: var(--sideBar1) ;
  border-right: var(--sideBar2) 1px solid;
  overflow: hidden;
}
.sideBar header {
  padding: 2px 20px;
  margin-top:10px;
  font-size:20px
}
.sideBar ul {
  list-style:none;
  padding-left:0;
  margin: 5px 0
}
.sideBar li{
  cursor: default;
  padding-top: 5px;
}
.sideBar li:before{
  content: '';
  background-size: 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.sideBar li > img{
  width: 12px;
  height: 12px;
  float: right;
  position: relative;
  top: 6px;
  right: 10px;
  display: none;
  cursor: pointer;
}
.sideBar .fold:before{
  background-image: url("./assets/img/right-arrow.png");
}
.sideBar .unfold:before{
  background-image: url("./assets/img/right-arrow.png");
  transform: rotate(90deg);
}
.sideBar .title {
  width: 100%;
  position: relative;
  top: 3px;
  color: var(--sideBarColor);
}

/*postPage*/
.postPage {
  width: calc(100% - 275px);
}
.postPage header{
  height: 45px;
  padding:0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postPage .editor{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.postPage .editor h1{
  padding-top: 100px;
}
.postPage h1 > input{
  font-size: 40px
}
