.doc-edit-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.doc-edit-header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  label {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--color-primary);

    input {
      position: absolute;
      display: none;
    }

    .toggle {
      position: absolute;
      cursor: pointer;
      height: 18px;
      width: 18px;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      transition: 0.4s;
      background-color: var(--color-secondary);

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--text-secondary);
      }

      i:first-child {
        display: none;
      }

      i:last-child {
        display: inline-block;
      }
    }

    input:checked + .toggle {
      background-color: var(--color-secondary);
      left: calc(100% - 21px);

      i:first-child {
        display: inline-block;
      }

      i:last-child {
        display: none;
      }
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;

  .title {
    height: 34px;
    text-indent: 5px;
    font-size: 1.5em;
  }

  .content {
    font-family: var(--font-family);
    padding: 5px;
    margin-top: 10px;
    height: 50vh;
    resize: vertical;
  }
}